<% title(@client.name, 'Clients') %>
<header>
	<h1><%= @client.name %></h1>

	<ul class = 'actions'>
		<li><%= link_to 'Edit Client', edit_client_path(@client), class: 'edit' %></li>
		<li><%= link_to 'Delete Client', 
			client_path(@client), method: :delete,
			data: { confirm: 'Are you sure you want to delete this project?' },
			class: 'delete' %></li>
	</ul>
</header>

<p><%= @client.description %></p>

<header>
  <h2>Tickets</h2>
  <ul class="actions">
    <li><%= link_to 'New Ticket', new_client_ticket_path(@client), class: 'new' %></li>
  </ul>
</header>

<ul id="tickets">
  <% @client.tickets.each do |ticket| %>
      <li>
        #<%= ticket.id %> -
        <%= link_to ticket.subject, [@client, ticket] %>
      </li>
  <% end %>
</ul>